.navbar {
    background-color: #0066ff;
    top: 0;
    width: 100%;
    color: #000000;
    list-style-position: inside;
    text-align: center;
}

#knizky {
    color: #000000;
    font-size: larger;
}
#knizky:hover {
    color: #ff0000;
}

#kontakt {
    color: #000000;
    font-size: larger;
}
#kontakt:hover {
    color: #ff0000;
}

#domu {
    color: #000000;
    font-size: larger;
}
#domu:hover {
    color: #ff0000;
}

#nadpis {
    color: #000000;
    bottom: 100%;
}
